{% extends "base.html" %} {% block title %}Home - Cherokee Search{% endblock %}
{% block content %}
<div class="row justify-content-center">
  <div class="col-md-8 text-center">
    <h1 class="display-4 mb-4">Cherokee Sentence Search</h1>
    <p class="lead mb-5">Search widely across the corpus.</p>

    <form action="{{ url_for('search_page') }}" method="GET" class="mb-5">
      <div class="input-group input-group-lg mb-3">
        <input
          type="text"
          class="form-control"
          name="q"
          placeholder="e.g. 'playing ball' or 'ᎠᏂᏧᏣ'"
          required
        />
        <button class="btn btn-primary" type="submit">Search</button>
      </div>

      <div class="d-flex justify-content-center gap-4">
        <div class="form-check form-switch">
          <input
            class="form-check-input"
            type="checkbox"
            id="useLemma"
            name="use_lemma"
          />
          <label class="form-check-label text-nowrap" for="useLemma"
            >Word Roots</label
          >
        </div>

        <div class="form-check form-switch">
          <input
            class="form-check-input"
            type="checkbox"
            id="isHypothetical"
            name="is_hypothetical"
          />
          <label class="form-check-label text-nowrap" for="isHypothetical"
            >Hypothetical</label
          >
        </div>

        <div class="form-check form-switch">
          <input
            class="form-check-input"
            type="checkbox"
            id="isCommand"
            name="is_command"
          />
          <label class="form-check-label text-nowrap" for="isCommand"
            >Imperative</label
          >
        </div>
      </div>
    </form>
  </div>
</div>
{% endblock %}
